menu "UniServer Platform"

config UNISERVER_CAVE
        bool "CAVE feature"
        default n

config UNISERVER_CAVE_STATS
        bool "CAVE stats"
        default n
	depends on UNISERVER_CAVE

config UNISERVER_CAVE_USERSPACE
       bool "keep userspace to kernel configuration"
       default n
       depends on UNISERVER_CAVE

config UNISERVER_CAVE_DEFAULT_KERNEL_VOFFSET
       int "Default CAVE kernel voffset"
       default "225"
       depends on UNISERVER_CAVE

config UNISERVER_CAVE_DEFAULT_USERSPACE_VOFFSET
       int "Default CAVE userspace voffset"
       default "225"
       depends on UNISERVER_CAVE_USERSPACE

endmenu
