menu "UniServer Platform"

config UNISERVER_CAVE
        bool "CAVE feature"
        default n

config UNISERVER_CAVE_STATS
        bool "CAVE stats"
        default n
	depends on UNISERVER_CAVE

config UNISERVER_SYSCALL_CONTEXT
       bool "Set voffset per syscall granularity."
       default n
       depends on UNISERVER_CAVE

config UNISERVER_MSR_VOLTAGE
       bool "Measure voltage from MSR, print to trace_printk()."
       default n
       depends on UNISERVER_CAVE_SYSCALL_CONTEXT

endmenu
